<%- contentFor('body') %>
<h1>Você realmente deseja excluir este aluno?</h1>
<form method="post" action="/aluno/delete/<%=aluno.matricula %>">
  Matrícula: <%= aluno.matricula %><br />
  Nome: <%=aluno.nome %><br />
  <input type="submit" value="Excluir" />
</form>
<a href="/">Cancelar</a>
