<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%=title %></title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <style>
      .alunos,
      .disciplinas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
      }
      .aluno,
      .disciplina {
        background-color: #f8f8f8;
        text-align: center;
        border: 1px solid #dadada;
        border-radius: 8px;
        padding: 5px;
      }
      .dia{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        
      }
      .dia input{
        margin-bottom: 10px;
      }
      .semana{
        display: flex;
        flex-direction: row;
      }
      .dia-descricao{
        display: flex;
        flex-direction: column;
        margin-top: 55px;
      }
      .dia-descricao label{
        margin-bottom: 10px;
      }
      .option{
        margin-bottom: 10px;
      }
    
    </style>
  </head>
  <body>
    <main>
      <div class="container">
        <%- body %>
      </div>
    </main>
    <footer>
      <div class="container text-center">
        INE 5612 - NodeJS e MongoDB
      </div>
    </footer>
  </body>
</html>
