
<%- contentFor('body') %>
<h1>Registrar Disciplina</h1>
<form method="post" action="/register/disciplina">
    Código: <input type="text" name="matricula" /><br/>
    Nome: <input type="text" name="nome" /><br/>
    Horários: <input type="text" /><br/>  
<input type="submit" value="Enviar" />
</form>
<a href="/">Voltar</a>
