*{
  font-family: 'Lato', sans-serif;
}
body{
  background: #f1f1f1
}
.container{
  position: relative;
}
.alunos,
.disciplinas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 20px auto;
}
.aluno,
.disciplina {
  background-color: #f8f8f8;
  text-align: center;
  border: 1px solid #dadada;
  border-radius: 8px;
  padding: 5px;
}
.dia {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.dia input {
  margin-bottom: 10px;
}
.semana {
  display: flex;
  flex-direction: row;
}
.dia-descricao {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
}
.dia-descricao label {
  margin-bottom: 10px;
}
.option {
  margin-bottom: 10px;
}
.enviar {
  margin: 20px auto;
}
.context{
  margin-top: 50px;
  padding: 10px 20px;
  border: 2px solid gray;
  border-radius: 10px;
  box-sizing: border-box;
}
.text-center{
  margin-top: 50px ;
  margin-bottom: 50px ;
}
.input-group-addon{
  width: 100px;
}
.input-group{
  margin-bottom: 10px;
}
.voltar{
  margin-left: 30px;
}
.register-disciplina{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-group .form-control{
  width: 500px;
}
.buttons{
  margin-left: 40%;
}
.title{
  margin-bottom: 40px;
}
.custom-header{
  border: 2px solid #eaeaea;
  text-align: center;
}
.custom-header span{
  font-weight: 900;
  font-size: 16px;
} 
.ms-list{
  text-align: center;
  border: 2px solid #eaeaea;
}

.register-student-context{
  display: flex;
  flex-direction: column;
  align-items: center;
}